<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="js/script.js">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Portal Oi</h1>
    </header>
    <main>
        <form id="login_form" class="form_class" action="cadastro.html" method="post">
            <div class="form_div">
                <label>Login:</label>
                <input class="field_class" name="login_txt" type="text" placeholder="Insira o seu login" autofocus>
                <label>Password:</label>
                <input id="pass" class="field_class" name="password_txt" type="password" placeholder="Insira a sua senha">
                <button class="submit_class" type="submit" form="login_form" onclick="validarLogin()">Entrar</button>
            </div>
            <div class="info_div">
                <p>Ainda não é um usuário registrado? <a href="cadastro.html">Cadastre-se!</a></p>
            </div>
        </form>
    </main>
    <footer>
        <p>Desenvolvido por <a href="#">Fabiano Freitas&trade;</a></p>
    </footer>
</body>
</html>