{% load static %}
<section id="documentation" class="documentations">
    <h2>Meus projetos</h2>
    <p>Conheça nossos projetos</p>    

<div class="documentation-list">
    <img src="{% static 'images/projeto1.png' %}" alt="Foto do projeto 1">
    <img src="{% static 'images/projeto2.png' %}" alt="Foto do projeto 2">
    <img src="{% static 'images/projeto3.png' %}" alt="Foto do projeto 3">
</div>

<div class="documentation-list">
    <img src="{% static 'images/projeto3.png' %}" alt="Foto do projeto 1">
    <img src="{% static 'images/projeto2.png' %}" alt="Foto do projeto 2">
    <img src="{% static 'images/projeto1.png' %}" alt="Foto do projeto 3">
</div>
<button class="action">Faça um orçamento</button>
</section>